@import "../connect";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600&display=swap");

footer {
  .footerTop__container {
    margin: 40px auto 30px;
    .row {
      .footerTop__link {
        ul {
          list-style: none;
          @include Text($fs-0, $fw-light);
          display: flex;
          flex-wrap: wrap;
          height: 110px;
          flex-direction: column;
          li {
            padding-bottom: spacing(0.5);
            a {
              text-decoration: none;
              color: $color-blue;
              &:hover {
                color: $color-black-0;
              }
            }
            a.link--item {
              @include Text($fs-0, $fw-bold);
            }
          }
        }
      }
      .footerTop__languages {
        .footerTop__btn {
          text-align: right;
          .btn-group {
            .dropdown-menu {
              top: -1000px;
              box-shadow: 0px -1px 12px 1px $color-black-dark-2;
              .dropdown-item {
                @include Text($fs-0, $fw-light);
                color: $color-black-light;
              }
            }
            .btn--locale {
              display: flex;
              width: 160px;
              height: 40px;
              border-radius: 3px;
              border: 1px solid $color-gray-4;
              align-items: center;
              justify-content: space-around;
              background: none;
              outline: none;
              @include Text($fs-0, $fw-regular);
              color: $color-gray-4;
              &:hover {
                border: 1px solid $color-black-0;
                color: $color-black-0;
              }
              .btn--text {
                padding-right: spacing(3.5);
              }
              .btn--icon1 {
                @include Text($fs-1, $fw-bold);
              }
              .btn--icon2 {
                @include Text($fs-1 - 5, $fw-bold);
              }
            }
          }
        }
      }
    }
  }
  .footerBottom__container {
    margin: 40px auto 30px;
    .footerBottom__left {
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      .left__logo {
        margin-right: spacing(2);
        .navbar-brand {
          img {
            width: 40px;
            height: 40px;
          }
          span {
            font-family: "Source Code Pro", monospace;
            @include Text($fs-3, $fw-bold);
          }
        }
      }
      .left__text {
        margin: 0;
        @include Text($fs-0, $fw-light);
      }
    }
    .footerBottom__right {
      text-align: right;
      .right__item {
        @include Text($fs-0, $fw-light);
        text-decoration: none;
        color: $color-blue;
        &:hover {
          color: $color-black-0;
        }
        &:first-of-type {
          margin-right: spacing(1);
        }
      }
    }
  }
  .footer__line {
    background: $color-red-0;
    height: spacing(0.6);
  }
}

@media screen and (max-width: getBreakpoint("small")) {
  footer {
    .footerBottom__container {
      margin: 0;
      .footerBottom__left {
        display: block;
        .left__logo {
          margin-bottom: spacing(1);
          .navbar-brand {
            img {
              width: 40px;
              height: 40px;
            }
            span {
              font-family: "Source Code Pro", monospace;
              @include Text($fs-3, $fw-bold);
            }
          }
        }
        .left__text {
          margin-bottom: spacing(1);
        }
      }
      .footerBottom__right {
        text-align: left;
        margin-bottom: spacing(2);
      }
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  footer {
    .footerBottom__container {
      margin: 0;
      .footerBottom__left {
        display: block;
        .left__logo {
          margin-bottom: spacing(1);
          .navbar-brand {
            img {
              width: 40px;
              height: 40px;
            }
            span {
              font-family: "Source Code Pro", monospace;
              @include Text($fs-3, $fw-bold);
            }
          }
        }
        .left__text {
          margin-bottom: spacing(1);
        }
      }
      .footerBottom__right {
        text-align: left;
        margin-bottom: spacing(2);
      }
    }
  }
}
